       body {
            font-family: 'Inter', sans-serif;
        }
        /* Enforce 1.5 stroke width for Lucide icons */
        .iconify {
            stroke-width: 1.5px !important;
        }
        /* Custom Scrollbar for Webkit */
        ::-webkit-scrollbar {
            width: 6px;
            height: 6px;
        }
        ::-webkit-scrollbar-track {
            background: transparent;
        }
        ::-webkit-scrollbar-thumb {
            background: #e4e4e7;
            border-radius: 3px;
        }
        ::-webkit-scrollbar-thumb:hover {
            background: #d4d4d8;
        }
        /* Hide scrollbar for sidebar but keep functionality */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }
        .no-scrollbar {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
    